body {
    font-family:'arial';
    color:beige;
    text-align: justify;
    background-color: black;
}
p {
    font-family: 'Calibri';
    color:burlywood;
    text-align: justify;
}
p2 {
    font-family: 'Calibri';
    color:burlywood;
    text-align: center;
}
p3 {
    font-family: 'Calibri';
    color:burlywood;
    text-align: center;
}
table, th, td{
    color: burlywood;
    text-align: justify;
    border: 1px solid beige;
}